.container {
    text-align: center;
}

.container-header {
    background-color: #0A192F;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #CCD6F6;
}

.hello-message {
    font-weight: normal;
    font-size: 32;
}